PUBLIC_DOMAIN_URL="your domain, ex. http://localhost:5173"
PUBLIC_SUPABASE_URL="your supabase project url, ex. https://<project>.supabase.co"
PUBLIC_SUPABASE_ANON_KEY="your supabase API key for your project"

PUBLIC_STRIPE_PUBLISHABLE_KEY="your stripe publishable key"
PRIVATE_STRIPE_SECRET_KEY="your stripe secret key"
PRIVATE_STRIPE_WEBHOOK_SECRET="your stripe webhook secret"